/* Global */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 85%, /* Subtle fade */
      rgba(34, 34, 34, 1) /* Dark grey to match the image */
    ),
    url('../images/background.avif') no-repeat center top;
  background-size: cover;
  background-attachment: fixed; /* Ensures the background image stays fixed while scrolling */
  color: #c9d1d9;
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
}

/* Default Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Button Styles */
button {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: none;
}

/* Outline Button */
button.btn-outline {
  background-color: transparent;
  color: #58a6ff;
  border: 2px solid #58a6ff;
}

button.btn-outline:hover {
  background-color: #58a6ff;
  color: #ffffff;
  transform: scale(1.05);
}

/* Global Headings */
h1,
h2,
h3 {
  font-family: 'Georgia', serif;
  color: #58a6ff;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* Paragraph Text */
p {
  font-size: 1rem;
  color: #c9d1d9;
}

/* Links */
a {
  color: #58a6ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #58a6ff;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #238636;
}